@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Anton&family=Cabin:ital,wght@1,500&family=Dancing+Script&family=Fira+Sans&family=IBM+Plex+Serif:ital,wght@1,100&family=Inconsolata:wght@300&family=Kanit:wght@500&family=Oleo+Script:wght@700&family=PT+Sans:ital@1&family=PT+Serif:ital@1&family=Patrick+Hand&family=Poppins:ital,wght@1,600&family=Source+Code+Pro:ital,wght@1,600&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.footer{ 
    padding: 6rem 1rem 8.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: azure;
    width: 100%;

}

.footer-general{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 150px;
}

.footer-general h2{
    font-size: 40px;
    font-family: 'Poppins';
}

.footer-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-contact-list h3{
margin-bottom:50px ;
font-size: 30px;
letter-spacing: 2px;
font-family: 'poppins';
}

.footer-contact-list p{
    margin: 20px auto;
    font-family: 'Inconsolata';
    font-weight: 100;
}

.footer-contact-list p>i{
    margin-right: 15px;
}

.footer-contact li{
    list-style: none;
}

.footer-link{
    list-style: none;
    display: flex;
    gap: 100px;
}

.footer-link a{
    text-decoration: none;
}

.footer-link a>img{
    width: 50px;
}

.footer-logo{
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-top: 1px solid rgb(188, 188, 47);
    color: #fff;
    
}

.footer-logo img{
    width: 100px;
    border-radius: 100%;
    animation-name: radiactivo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.footer-logo p{
    font-family: 'dancing script';
    font-weight: 400;
    font-size: 30px;
    margin-top: 20px;
}

@keyframes radiactivo{
    0%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(180deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.fa-facebook-square{
    font-size: 50px;
    color: blue;
}

.fa-instagram{
    font-size: 50px;
    color: rgb(228, 15, 115);
}

.fa-twitter{
    font-size: 50px;
    color: rgb(40, 191, 242);
}

@media (max-width:450px) {

    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-contact{
        justify-content: center;
        flex-direction: column;
    }

    .footer-general{
        justify-content: center;
        align-items: center;
    }

    .footer-general h2{
        text-align: center;
        font-size: 40px;
    }

    .footer-contact-list h3{
        text-align: center;
    }

    .footer-contact-list p{
        font-size: 15px;
    }

    iframe{
        width: 300px;
        margin-top: 50px;
    }
.footer-link{
    gap:50px;
}
}
