@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Anton&family=Cabin:ital,wght@1,500&family=Fira+Sans&family=IBM+Plex+Serif:ital,wght@1,100&family=Inconsolata:wght@300&family=Kanit:wght@500&family=Oleo+Script:wght@700&family=PT+Sans:ital@1&family=PT+Serif:ital@1&family=Patrick+Hand&family=Poppins:ital,wght@1,600&family=Source+Code+Pro:ital,wght@1,600&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.seccion5{
    background-color: var(--verde2);
    padding: 6rem 1.5rem 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccion5 h2{
    font-size: 70px;
    text-transform: uppercase;
    font-style: oblique;
    letter-spacing: 5px;
}

.seccion5 h3{
        margin-bottom: 70px;
        margin-top: 25px;
        font-size: 40px;
        font-weight: 300;
        color: var(--black);
        max-width: 550px;
}

.logo-warehouse{
    width: 450px;
    height: 300px;
}


.logo-warehouse:hover{
    animation-name: Motos;
    animation-duration: 2s;
    position: relative;
    animation-iteration-count: infinite;
    opacity: 0.5;
}

@keyframes Motos{
    0%{
        transform: scale(1.0);
    }

    100%{
        transform: scale(1.1);
    }
} 

.div-container-imgs5{
    position: relative;
}

.button-s5{
    display: flex;
    justify-content: center;
    align-items: center;
}

.yamaha{
    background-color:blue;
}

.kawasaki{
    background-color: greenyellow;
}

.honda{
    background-color: red;
}

.suzuki{
    background-color:blue;
}

.ducati{
    background-color: rgb(131, 0, 0);
}

.ktm{
    background-color: orange;
}

.button-s5 button{
    position:absolute;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    font-family: 'Inconsolata';
    font-weight: 800;
    cursor: pointer;
    top: 10px;
    left: 2px;
    display: none;
}



.div-container-imgs5:hover .yamaha{
    display: flex;
    transition: 0.5s;
}

.div-container-imgs5:hover .kawasaki{
    display: flex;
    transition: 0.5s;
}

.div-container-imgs5:hover .honda{
    display: flex;
    transition: 3s;
}

.div-container-imgs5:hover  .suzuki{
    display: flex;
    transition: 3s;
}

.div-container-imgs5:hover  .ducati{
    display: flex;
    transition: 3s;
}

.div-container-imgs5:hover  .ktm{
    display: flex;
    transition: 3s;
}




.div-container-s5{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 100px;
}

.div-container-s5 > div{
    display: flex;
    flex-direction: column;
}





@media (max-width:450px){
    
    .seccion5{
        padding:2rem 1rem 4rem;
    }

    .div-container-s5{
        flex-direction: column;
        gap: 40px;
        margin-top: 10px;
    }

    .logo-warehouse{
        width: 250px;
        height: 150px;
        border-radius: 100%;
    }

    .seccion5 h2{
        font-size: 40px;
        text-align: center;
    }

    .seccion5 h3{
        text-align: center;
    }
}

