@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Anton&family=Cabin:ital,wght@1,500&family=Fira+Sans&family=IBM+Plex+Serif:ital,wght@1,100&family=Inconsolata:wght@300&family=Kanit:wght@500&family=Oleo+Script:wght@700&family=PT+Sans:ital@1&family=PT+Serif:ital@1&family=Patrick+Hand&family=Poppins:ital,wght@1,600&family=Source+Code+Pro:ital,wght@1,600&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.seccion3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem 1rem;
    width: 100%;
    background-color: aliceblue;
}

.seccion3-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    gap:50px;
    
    
   
}

.seccion3 h2{
    font-size: 35px;
    margin-bottom: 25px;
    font-family: 'poppins';
    font-weight: 700;
    
}

.seccion3 h3{
    max-width: 250px;
    font-family: 'Inconsolata';
}

.seccion3-container p{
    max-width: 250px;
    margin: 20px auto;
    font-family: 'Inconsolata';
    font-weight: 400;

}

.div-container-s3{
    box-shadow: -4px 1px 37px 10px rgba(0,0,0,0.66);
    border-radius: 10%;
    margin: 20px auto 30px;
    padding: 2rem .8rem;
    background-color: beige;
    z-index: 1;
}

.div-container-s3:hover{
    box-shadow: -4px 1px 37px 10px rgba(0,0,0,0.66);
    transform: scale(1.1);
    transition: all .7s;
}

.div-container-s3 i{
    font-size: 30px;
    color: green;
    margin: 20px auto;
    animation-duration: 2s;
}

.div-container-s3 h4{
    font-family: 'poppins';
}

@media screen and (min-width:1024px){

    .seccion3{
        
        padding: 10rem 2rem 10rem;
        background-color:#1e1f26;

    }

    .seccion3-container{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 150px;
    }

    .seccion3 h2{
        font-size: 70px;
        text-transform: uppercase;
        font-style: oblique;
        letter-spacing: 5px;
        color: beige;
    }

    .seccion3 h3{
        margin-bottom: 70px;
        margin-top: 25px;
        font-size: 40px;
        font-weight: 300;
        color: beige;
        max-width: 550px;
    }
    /* fin titulos principio circulos */

    .div-container-s3{
        padding: 3rem 2rem 2rem;
        margin: 20px auto 30px;
        border-radius: 10%;
    }

    .div-container-s3 h4{
        font-size: 30px;
        margin:20px auto 5px;
        font-family: 'poppins';
    }

    .div-container-s3 p{
        font-size: 20px;
        max-width: 280px;
        
    }

    .seccion3-container i{
        font-size:40px ;
    }

    
}