@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Anton&family=Cabin:ital,wght@1,500&family=Fira+Sans&family=Oleo+Script:wght@700&family=PT+Sans:ital@1&family=PT+Serif:ital@1&family=Patrick+Hand&family=Source+Code+Pro:ital,wght@1,600&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--Black:#000000 ;
	--verde2:#f7fdf7  ;
	--verde3:#2ded78;
}

.seccion1 {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
    gap: 100px;
	padding: 5rem 2rem 11rem;
	background-color: var(--verde2);

}

.presentation {
	width: 100%;
	max-width: 650px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.presentation h1 {
	font-size: 80px;
	font-weight: 300;
	font-family: 'Impact';
    font-style: oblique;
	text-align: center;
	margin-bottom: 100px;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
}

.presentation h2 {
	font-size: 20px;
	font-weight: 500;
	font-family: "PT serif";
	max-width: 400px;
	margin-bottom: 100px;
	color:black;
    border-radius: 10px;
    padding: 5px 30px;

}

.presentation_link {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-top: 5px;
}

.main-link {
	font-size: 15px;
	font-family: "PT serif";
	font-weight: 600;
	border: 2px solid #000;
	border-radius: 20px;
	text-decoration: none;
	padding: 10px 50px;
	color: #000;
}



.link1 {
	background-color: aliceblue;
}

.link2 {
	color: #57fd35;
    background-color: #000;
}

.div-img{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.div-img img {
	width: 100%;
	height: 600px;
	border-radius: 20px;
	box-shadow: #000;
	box-shadow: 12px -2px 28px 22px rgba(0, 0, 0, 0.75);
}


.seccion2 {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20rem 2rem;
	background-color: var(--verde2);
	
}

.seccion2 p {
	text-align: center;
	width: 100%;
	max-width: 650px;
	font-family: "PT serif";
	font-size: 25px;
}




span{
    font-size: 30px;
	font-weight: 900;
	color: var(--verde5);
}


 @media screen and (max-width: 450px){

	.seccion1 {
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 50px;
		padding: 4rem 2rem 6rem;
		background-color: var(--verde2);
		margin-top: 100px;
	
	}
	
	.presentation {
		max-width: auto;
		margin-right: auto;
		max-width: 300px;
	}
	
	.presentation h1 {
		font-size: 50px;
	}
	
	.presentation h2 {
		font-size: 15px;
		padding: 10px 0;
	}
	
	.main-link {
		padding: 10px 30px;

	}
	
	.div-img{
		padding-top: 100px;
	}
	
	.div-img img {
		width: 200px;
		height: 200px;
		
	}

	.seccion2 {
		
		padding: 15rem 1rem;
		
	}
	
    .seccion2 p {
		font-size: 15px;
		max-width: 300px;
	}

    span{
		font-size: 20px;
	}
} 
	 
