@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Anton&family=Fira+Sans&family=Oleo+Script:wght@700&family=PT+Sans:ital@1&family=PT+Serif:ital@1&family=Patrick+Hand&family=Source+Code+Pro:ital,wght@1,600&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'anton';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    box-shadow: 3px 3px 6px 2px rgba(0,0,0,0.58);
    opacity: 0.9;

}

.logo {
    height: 100px;
    width:100px;
}


.li-link {
    display: flex;
    text-align: center;
    padding: 15px;
    margin: 40px;
    list-style: none;
    gap: 100px;
}

.li-link a{
    color: rgb(79, 187, 58);
    text-decoration: none;
    font-family: 'PT serif';
    font-size: 15px;
}

.li-link a:hover{
    color: #fff;
}

.nav-icon i{
    color: rgb(79, 187, 58);
    font-size: 30px;
    margin-right: 20px;
}


@media screen and (max-width:450px){
    .header {
        
        flex-direction: column;
        justify-content: center;
        height: auto;
        width: 100%;
        position: static;
}


.li-link{
    gap: 30px;
    margin: auto;
    order: 2;
}

    .li-link a{
    font-size: 10px;
    }

.nav-icon {
    display: none;
}

}





